app/pump/beng_qwt/Win32
app/pump/beng_qwt/weiduodianzi/Debug
app/pump/beng_qwt/weiduodianzi/GeneratedFiles
app/check/check_veryoldpro/weiduodianzi/Debug/*
app/check/check_veryoldpro/weiduodianzi/GeneratedFiles/*
app/check/check_veryoldpro/Win32
*.db
*.rar
